@import "property";
@import "general";
@import "normalmedia";

@media screen and(max-width: 375px) {
    .container1 {
    .container {
        width: 325px;
        height: 510px;
        .card {
            display: flex;
            // flex-direction: column;
            width: 325px;
            height: 510px;
            .konten {
                // border: 1px red solid;
                display: flex;
                flex-direction: column;
                .image {
                    img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 327px;
                        height: 240px;
                    }
                }
                .isi {
                    width: 327px;
                    height: 312px;
                    margin-top: -40px;
                    margin-left: 0px;
                    padding: 40px 36px 20px 30px;
                    .isi-atas {
                        h2 {
                            // border: 1px red solid;
                            // padding-top: 40px;
                            font-size: 16px;
                            padding-bottom: 15px;
                        }
 
                    }
                    .isi-bawah {
                        // border: 1px red solid;
                        display: flex;
                        position: relative;
                        margin-right: -10px;
                        .orang {
                            border-radius: 50px;
                            width: 40px;
                        }
                        .nama-ttl {
                            
                            margin-left: 16px;
                            h4 {
                                color: $very-dark-grayish-blue;
                                line-height: 20px;
                                font-size: 13.2px;
                            }
                            p {
                                color: $grayish-blue;
                                line-height: 20px;
                                font-size: 13.2px;
                            }
                        }
                       
    
                        #share {
                            z-index: 1;
     
                        }
                    }
                }
            }
        }
    }
    .container-sosialmed {
        z-index: 0;
        top: 0px;
        .socials  {
            // border: 1px red solid;
            z-index: 1;
            border-radius: 0 0 10px 10px;
            right: 0px;
            top: -90px;
            padding: 0 100px 0 40px;
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 325px;
            height: 90px;
            background-color: $very-dark-grayish-blue;
            
            span {
                color: $grayish-blue;
                letter-spacing: 4px;
                font-weight: 500px;
                letter-spacing: 5px;
            }
            a {
                font-size: 1.5rem;
            }
        }
        .pointer {
            display: none;
        }
    
    }
    .container-sosialmed.aktif {
        opacity: 1;
        visibility:visible;
        top: 0px;
        display: flex;
    }
    }
}
